<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blade.manager.system.modules.permission.mapper.RolesDeptsMapper">

    <!-- ===================================generated code============================================ -->
    <resultMap id="BaseResultMap" type="com.blade.manager.system.modules.permission.entity.RolesDepts">
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    </resultMap>

    <sql id="BaseColumn">
        role_id,
        dept_id
    </sql>

    <select id="selectByPk" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn" /> FROM roles_depts
        WHERE id = #{id}
    </select>

    <delete id="deleteByPk">
        DELETE FROM roles_depts WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.blade.manager.system.modules.permission.entity.RolesDepts">
        INSERT INTO roles_depts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="deptId != null">
                #{deptId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.blade.manager.system.modules.permission.entity.RolesDepts">
        UPDATE roles_depts
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- ===================================generated code============================================ -->

    <delete id="deleteByRoleId" parameterType="long">
        DELETE FROM roles_depts WHERE role_id = #{roleId}
    </delete>
</mapper>
