<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blade.manager.system.modules.permission.mapper.DictMapper">
    <!-- ===================================generated code============================================ -->
    <resultMap id="BaseResultMap" type="com.blade.manager.system.modules.permission.entity.Dict">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <sql id="BaseColumn">
        id,
        name,
        remark
    </sql>

    <select id="selectByPk" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn" /> FROM dict
        WHERE id = #{id}
    </select>

    <delete id="deleteByPk">
        DELETE FROM dict WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.blade.manager.system.modules.permission.entity.Dict">
        INSERT INTO dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.blade.manager.system.modules.permission.entity.Dict">
        UPDATE dict
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- ===================================generated code============================================ -->
</mapper>
