<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blade.manager.system.modules.permission.mapper.MenuMapper">
    <resultMap id="menuMap" type="com.blade.manager.system.modules.permission.entity.Menu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="i_frame" jdbcType="VARCHAR" property="iFrame"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="sort" jdbcType="BIGINT" property="sort"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
    </resultMap>

    <sql id="allColumn">
        id, create_time, create_time, i_frame, name, component, pid, sort, icon, path
    </sql>

    <select id="selectByRoleIds" parameterType="list" resultMap="menuMap">

    </select>
</mapper>
