<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blade.manager.system.permission.mapper.RoleMapper">
    <!-- ===================================generated code============================================ -->
    <resultMap id="BaseResultMap" type="com.blade.manager.system.permission.entity.Role">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="data_scope" jdbcType="VARCHAR" property="dataScope" />
        <result column="permission" jdbcType="VARCHAR" property="permission" />
    </resultMap>

    <sql id="table_name">role</sql>
    <sql id="BaseColumn">
        id,
        creator,
        create_time,
        modifier,
        modify_time,
        is_delete,
        role_name,
        level,
        remark,
        data_scope,
        permission
    </sql>

    <select id="selectByPk" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn" />
        FROM <include refid="table_name" />
        WHERE id = #{id}
    </select>

    <delete id="deleteByPk">
        DELETE FROM <include refid="table_name" /> WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.blade.manager.system.permission.entity.Role">
        INSERT INTO <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="dataScope != null">
                data_scope,
            </if>
            <if test="permission != null">
                permission,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="modifyTime != null">
                #{modifyTime},
            </if>
            <if test="isDelete != null">
                #{isDelete},
            </if>
            <if test="roleName != null">
                #{roleName},
            </if>
            <if test="level != null">
                #{level},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="dataScope != null">
                #{dataScope},
            </if>
            <if test="permission != null">
                #{permission},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.blade.manager.system.permission.entity.Role">
        UPDATE <include refid="table_name" />
        <set>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="roleName != null">
                role_name = #{roleName},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="dataScope != null">
                data_scope = #{dataScope},
            </if>
            <if test="permission != null">
                permission = #{permission},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectPageList" resultMap="BaseResultMap" parameterType="com.blade.core.model.request.PageSearchDTO">
        SELECT
        <include refid="BaseColumn"/>
        FROM
        <include refid="table_name" />
        <where>
            is_delete = 0
            <if test="searchDTO.startTime != null">
                AND <![CDATA[ create_time >= #{searchDTO.startTime} ]]>
            </if>
            <if test="searchDTO.endTime != null">
                AND <![CDATA[ create_time <= #{searchDTO.endTime} ]]>
            </if>
            <if test="searchDTO.roleName != null">
                AND role_name = #{searchDTO.roleName}
            </if>
        </where>
    </select>

    <!-- ===================================generated code============================================ -->

    <resultMap id="RoleListResultMap" type="com.blade.manager.system.permission.model.role.RoleListVO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="data_scope" jdbcType="VARCHAR" property="dataScope" />
        <result column="permission" jdbcType="VARCHAR" property="permission" />
    </resultMap>

    <select id="selectPage" resultMap="RoleListResultMap" parameterType="com.blade.core.model.request.PageSearchDTO">
        SELECT
        <include refid="BaseColumn"/>
        FROM
        <include refid="table_name" />
        <where>
            is_delete = 0
            <if test="searchDTO.startTime != null">
                AND <![CDATA[ create_time >= #{searchDTO.startTime} ]]>
            </if>
            <if test="searchDTO.endTime != null">
                AND <![CDATA[ create_time <= #{searchDTO.endTime} ]]>
            </if>
            <if test="searchDTO.roleName != null">
                AND role_name = #{searchDTO.roleName}
            </if>
        </where>
    </select>
</mapper>
