<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blade.manager.system.modules.permission.mapper.RolesPermissionsMapper">

    <!-- ===================================generated code============================================ -->
    <resultMap id="BaseResultMap" type="com.blade.manager.system.modules.permission.entity.RolesPermissions">
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
    </resultMap>

    <sql id="BaseColumn">
        role_id,
        permission_id
    </sql>

    <select id="selectByPk" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn" /> FROM roles_permissions
        WHERE id = #{id}
    </select>

    <delete id="deleteByPk">
        DELETE FROM roles_permissions WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.blade.manager.system.modules.permission.entity.RolesPermissions">
        INSERT INTO roles_permissions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="permissionId != null">
                permission_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="permissionId != null">
                #{permissionId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.blade.manager.system.modules.permission.entity.RolesPermissions">
        UPDATE roles_permissions
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="permissionId != null">
                permission_id = #{permissionId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- ===================================generated code============================================ -->
    
    <select id="selectUserPermissionsByUserId" resultType="string">
        SELECT p.name
        FROM users_roles ur
        LEFT JOIN roles_permissions rp ON ur.role_id = rp.role_id LEFT JOIN permission p ON p.id = rp.permission_id
        WHERE ur.user_id = #{userId}
    </select>

    <delete id="deleteByRoleId" parameterType="long">
        DELETE FROM roles_permissions WHERE role_id = #{roleId}
    </delete>
</mapper>
