<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blade.manager.system.permission.mapper.UserRolesMapper">
    <!-- ===================================generated code============================================ -->
    <resultMap id="BaseResultMap" type="com.blade.manager.system.permission.entity.UserRoles">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
    </resultMap>

    <sql id="table_name">user_roles</sql>
    <sql id="BaseColumn">
        id,
        user_id,
        role_id
    </sql>

    <select id="selectByPk" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn" />
        FROM <include refid="table_name" />
        WHERE id = #{id}
    </select>

    <delete id="deleteByPk">
        DELETE FROM <include refid="table_name" /> WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.blade.manager.system.permission.entity.UserRoles">
        INSERT INTO <include refid="table_name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.blade.manager.system.permission.entity.UserRoles">
        UPDATE <include refid="table_name" />
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectPageList" resultMap="BaseResultMap" parameterType="com.blade.core.model.request.PageSearchDTO">
        SELECT
        <include refid="BaseColumn"/>
        FROM
        <include refid="table_name" />
        <where>
            1 = 1
            <if test="searchDTO.userId != null">
                AND user_id = #{searchDTO.userId}
            </if>
            <if test="searchDTO.roleId != null">
                AND role_id = #{searchDTO.roleId}
            </if>
        </where>
    </select>

    <!-- ===================================generated code============================================ -->
</mapper>
